# Example mysql config file for large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# mysql.
#
# mysql programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all mysql clients
[client]
#password	= your_password
port		= 3307
socket		= /apps/data/mysql/mysql-3307/mysql.sock
default-character-set = utf8mb4
# Here follows entries for some specific programs

# The mysql server
[mysqld]

port		= 3307
socket		= /apps/data/mysql/mysql-3307/mysql.sock
basedir = /apps/base-env/mysql
datadir = /apps/data/mysql/mysql-3307
user = mysql

character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

# public set
back_log = 500
lower_case_table_names = 1
skip-external-locking
max_connections = 1000
key_buffer_size = 384M
max_allowed_packet = 1024M
table_open_cache = 2048
table_open_cache_instances = 4
max_heap_table_size = 64M
tmp_table_size = 64M
sort_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
join_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 128
query_cache_size = 64M
skip-host-cache
skip-name-resolve
log_timestamps = SYSTEM
sql_mode=NO_ENGINE_SUBSTITUTION
# innodb set
innodb_open_files = 2048
innodb-log-files-in-group = 2
innodb_log_file_size = 128M
innodb_buffer_pool_size = 2G
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_large_prefix = on
# binary logging is required for replication
log-bin = mysql-bin
log-bin-index = mysql-bin.index
binlog-ignore-db = mysql
binlog-ignore-db = information_schema
binlog-ignore-db = performance_schema
#binlog-do-db = test
expire_logs_days = 15
binlog_cache_size = 1M

#relay-logbinary logging
#relay-log = relay-bin
#relay-log-index = relay-bin.index
#replicate-ignore-db = mysql
#replicate-ignore-db = information_schema
#replicate-ignore-db = performance_schema
#replicate-do-db = test

#auto-increment-increment = 2 
#auto-increment-offset = 1

#
slow_query_log = 1
#slow_query_log_file = /var/lib/mysql/slow-query.log
long_query_time = 1
#log_queries_not_using_indexes = 1

# binary logging format - mixed recommended
# binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id	= 1

# Mandatory settings
wsrep_provider=/usr/lib64/galera-3/libgalera_smm.so
#wsrep_cluster_address="gcomm://192.168.1.1:4567,192.168.1.3:4567,192.168.1.2:4567"
wsrep_cluster_address="gcomm://"
wsrep_cluster_name="mycluster"
wsrep_node_name="node1"
wsrep_node_address="192.168.1.1:4567"
binlog_format=row
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0
wsrep_sst_method=rsync
wsrep_slave_threads=32

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
default-character-set = utf8mb4

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
